
.card{
  border: 1px solid hsl(0,0%,80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0,0%,0%,0.1);
  padding:20px;
  margin:10px;
  text-align: center;
  max-width: 500px;
  display: inline-block;
}
.card .card-image{
  max-width: 180%;
  height: auto;
  border-radius: 10%;
  margin-bottom: 10px; 
}
.card .card-title{
  font-family: Arial,sans-serif;
  margin:0;
  color: hsl(0,0%,20%);

}

.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0,0%,30%);
}

.button{
  background-color: hsl(200,100%,50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.student{
    font-family:Arial, Helvetica, sans-serif;
    font-size:2em;
    padding: 10px;
    border: 1px solid hsl(0,0%,50%,0.8);
}
.student p{
  margin: 0;
}

.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-size: 1.7rem;
}
button{
  font-size: 0.8rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: hsl(125,47%,54%);
}
.add-button:hover{
  background-color: hsl(125,47%,70%);
}
.delete-button{
  background-color: hsl(353, 91%, 52%);
}
.delete-button:hover{
  background-color: hsl(353, 91%, 70%);
}
.move-button{
  background-color: hsl(250, 72%, 48%);
}
.move-button:hover{
  background-color: hsl(250, 72%, 60%);
}
input[type="text"]{
  font-size:1.6rem; 
  padding: 10px;
  border: 2px solid hsla(242, 91%, 42%, 0.5);
  border-radius: 5px;
  color: hsla(255, 88%, 19%, 0.5);;

}
ol{
  padding: 0;
}
li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(58, 69%, 77%);
  margin-top: 10px;
  border: 3px solid hsla(0,0%,85%,0.75);
  border-radius: 10px;
  display: flex;
  align-items: center;

}
.text{
  flex:1;
  
}
.delete-button,.move-button{
  padding: 8px 12 px;
  font-size: 1.4 rem;
  margin-left: ;
}